<!DOCTYPE html>

<html> 
  <head>
    <title>404</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <div class="main-conent">
  <body>
    {{>header}}
    <p>{{errorMsg}}</p>
  </body>
  </div>
    {{>footer}}
</html>
