<!DOCTYPE html>

<html> 

  <head>
    <title>weather</title>
    <link rel="icon" href="/img/smiling-face-w-sunglasses-smallest.png">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="main-content">
    {{>header}}
    <p>minimalist weather app</p>
    <form action="">
      <input type="text" placeholder="location">
      <button>search</button>
    </form>
    <p id="message-1"></p>
    <p id="message-2"></p>
    </div>
    <script src="/js/app.js"></script>
  </body>
    {{>footer}}
</html>
